/* altera margens e fonte padrão do browser */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Define cores usadas no código */
:root {
  --lime: #00EE00;
  --orange: #FEAA00;
  --yellow: #F3F300;
  --blue-gas: #64A9FE;
  --blue-hal: #00DDBB;
  --green: #53CC86;
  --grey: #97BAA9;
  --pink: #FFAA89;
  --purple: #DDAACC;
  --magenta: #DB9A9A;
}

/* Legenda */
.legenda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto -200px;
  width: 50rem;
}
.legenda p {
  color: #64A9FE;
  display: flex;
  line-height: 2rem;
  margin: 0.187rem 0;
}
.legenda p::before {
  content: '';
  display: block;
  height: 30px;
  margin: 0 0.312rem;
  width: 30px;
}
.legenda .p-lime:before {
  background-color: var(--lime);
}
.legenda .p-orange:before {
  background-color: var(--orange);
}
.legenda .p-yellow:before {
  background-color: var(--yellow);
}
.legenda .p-blue-gas:before {
  background-color: var(--blue-gas);
}
.legenda .p-blue-hal:before {
  background-color: var(--blue-hal);
}
.legenda .p-green:before {
  background-color: var(--green);
}
.legenda .p-grey:before {
  background-color: var(--grey);
}
.legenda .p-pink:before {
 background-color: var(--pink);
}
.legenda .p-purple:before {
  background-color: var(--purple);
}
.legenda .p-magenta:before {
  background-color: var(--magenta);
}
.legenda p.com-borda:before {
  border: 1px solid black;
}

.legenda .p-solido:before {
  color: #000;
  content: 'C';
  text-align: center;
}
.legenda .p-liquido:before {
  color: #F00;
  content: 'Hg';
  text-align: center;
}
.legenda .p-gasoso:before {
  color: #00F;
  content: 'H';
  text-align: center;
}
.legenda .p-desconhecido:before {
  color: rgba(0, 0, 0, 0.3);
  content: 'Rf';
  text-align: center;
}


/* Tabelas */
table {
  border-collapse: collapse;
  margin: 20px;
}

td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  width: 12.5rem;
}

td:empty {
  border: none;
}

td p:nth-child(2) {
  font-size: 1.2rem;
}

.td-lime {
  background-color: var(--lime);
}
.td-orange {
  background-color: var(--orange);
}
.td-yellow {
  background-color: var(--yellow);
}
.td-blue-gas {
  background-color: var(--blue-gas);
}
.td-blue-hal {
  background-color: var(--blue-hal);
}
.td-green {
  background-color: var(--green);
}
.td-grey {
  background-color: var(--grey);
}
.td-pink {
 background-color: var(--pink);
}
.td-purple {
  background-color: var(--purple);
}
.td-magenta {
  background-color: var(--magenta);
}