<%- include('includes/head.ejs') %> 
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <%- include('includes/sign-up-form.ejs') %> 
    </main>
<%- include('includes/bottom.ejs') %> 