<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VG SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'active' : ''%>" aria-current="page" href="/home">Home</a>
        </li>

        <% if (logged) { %> 
          <li class="nav-item">
            <a class="nav-link <%= path === '/products' ? 'active' : ''%>" aria-current="page" href="/products">Produtos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= path === '/cart' ? 'active' : ''%>" aria-current="page" href="/cart">Carrinho</a>
          </li>
        <% } else { %> 
          <li class="nav-item">
            <a class="nav-link <%= path === '/sign-up' ? 'active' : ''%>" aria-current="page" href="/sign-up">Cadastro</a>
          </li>
        <% } %> 
      </ul>
    </div>
  </div>
</nav>